.login {
    width: 300px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.button {
    font-weight: 600;
    color: rgba(96, 102, 112, 0.993);
    border: 2px solid rgba(96, 102, 112, 0.87);
}