.service-content {
    margin: 10px;
    text-align: center;
    border: 3px solid whitesmoke;
}

.service-content:hover {
    background-color: rgba(91, 161, 149, 0.062);
    border: 3px solid rgba(91, 161, 149, 0.062);
}

.service-text {
    margin: 5px;
}